{% include 'templates/header.twig' %}

    <style>
        .granddiv {
            margin-top: 50px;
        }

        .granddiv section {
            margin-bottom: 150px;
        }

        .granddiv h1, h2, h3 {
            font-family: 'chiller', 'Times New Roman', Times, serif;
        }

        .granddiv p {
            font-family: 'chiller', 'Times New Roman', Times, serif;
            font-size: 30px;
        }


        h1 {
            text-align: center;
            color:black;
        }
        h3 {
            text-align: center;
            color:black;
        }
        h2 {
            text-align: center;
            color:black;
        }
        #utility {
            /* background-color:#dfdfdf; */
            font-family: Arial, Helvetica, sans-serif;
            height: 200px;
        }
        #concepteur
        { 
            /* background-color:#dfdfdf; */
            font-family: Arial, Helvetica, sans-serif;
        }
        #definitive
        {
        /* background-color:#dfdfdf; */
        font-family: Arial, Helvetica, sans-serif;
        }
        #amina
        { 
        border-radius:200px;
        position: relative;
        left: 80px;
        }
        #amina1
        { 
        border-radius:200px;
        position: relative;
        left: 87px;
        }
        #amina2
        { 
        border-radius:200px;
        position: relative;
        left: 87px;
        }
        #amina3
        { 
        border-radius:200px;
        position: relative;
        left: 87px;
        }
        #amina4
        { 
        border-radius:200px;
        position: relative;
        left: 87px;
        }
        div>p
        {
        text-align: center;
        }
        div>a
        {
        text-decoration: none;
        color: black;
        text-decoration-style: none;
        }
        #aminad1
        {
        position: relative;
        left:42px;
        }
        #aminad2
        {
        position: relative;
        left:42px;
        }
        #aminad3
        {
        position: relative;
        left:42px;
        }
        #aminad4
        {
        position: relative;
        left:42px;
        }
    
    
    </style>


    <div class="granddiv">
        <section class="container" id="utility">
        
            <div class="row">
                <div class="col-md-12">
                    <h2>A propos du site</h2><br>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p >
                        Meme Generator a été pour la création de memes, d'images simples et d'images gifs,
                        <strong> Meme Generator</strong> est une plate-forme qui fournit des images gratuites 
                        de qualité que les utilisateurs peuvent utiliser pour créer leurs propres mémoires, 
                        puis les télécharger.
                    </p>
                </div>
            </div>

        </section>

        <section class="container" id="concepteur">
        <h2>Equipe</h2><br>
        <div class="row">
                <div class="col-md-3">
                <img src="public/images/amina.jpg" id="amina1" width="30%" height="90px">
                <h3 title="github">Aminata Diop</h3>
                <p>
                graphiste et designer
                </p>
                 <div class="row" id="aminad1">
                    <div class="col-md-2">
                        <a target="blank" href="https://github.com/mia97diop"><img src="public/images/github.png" width="170%"></a>
                    </div>
                    <div class="col-md-2">
                        <a target="blank" href="https://www.facebook.com/profile.php?id=100008919511439"><img src="public/images/facebook.png" width="170%"></a>
                    </div>
                     <div class="col-md-2">
                        <a target="blank" href="https://twitter.com/aminasel1"><img src="public/images/linkedin.png" width="170%"></a>
                    </div>
                     <div class="col-md-2">
                        <a target="blank" href="https://www.linkedin.com/in/aminata-diop-0ab63a171/"><img src="public/images/twitter.png" width="170%"></a>
                    </div>
                    </div>
                <br>
                </div>
                <div class="col-md-3">
                <img src="public/images/aliouw.jpg" id="amina2" width="30%" height="90px">
                <h3>Aliou 'Also' Sow</h3>
                <p>
                développeur
                </p>
                <div class="row" id="aminad2">
                    <div class="col-md-2">
                        <a target="blank" href="https://github.com/Also8292"><img src="public/images/github.png" width="170%"></a>
                    </div>
                    <div class="col-md-2">
                        <a target="blank" href="https://www.facebook.com/aliou.sow.33483"><img src="public/images/facebook.png" width="170%"></a>
                    </div>
                     <div class="col-md-2">
                        <a target="blank" href="https://twitter.com/sowalils1992"><img src="public/images/twitter.png" width="170%"></a>
                    </div>
                     <div class="col-md-2">
                        <a target="blank" href="https://www.linkedin.com/in/aliou-sow/"><img src="public/images/linkedin.png" width="170%"></a>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                <img src="public/images/yaya.jpg" id="amina4" width="30%" height="90px">
                <h3>Yaya Adiagarail Sadio</h3>
                <p>
                développeur web
                </p>
                <div class="row" id="aminad4">
                    <div class="col-md-2">
                        <a target="blank" href="https://github.com/Adjagarail"><img src="public/images/github.png" width="170%"></a>
                    </div>
                    <div class="col-md-2">
                        <a target="blank" href="https://www.facebook.com/yayaadjagarail"><img src="public/images/facebook.png" width="170%"></a>
                    </div>
                     <div class="col-md-2">
                        <a target="blank" href="https://www.linkedin.com/in/yaya-adjagarail-sadio-aa794a16a/"><img src="public/images/linkedin.png" width="170%"></a>
                    </div>
                     <div class="col-md-2">
                        <a target="blank" href="https://twitter.com/SadioYaya2"><img src="public/images/twitter.png" width="170%"></a>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                <img src="public/images/momo.jpg" id="amina3" width="30%" height="90px">
                <h3>André Mamadou ndour</h3>
                <p>
                développeur web
                </p>
                <div class="row" id="aminad3">
                    <div class="col-md-2">
                        <a target="blank" href="https://github.com/MomoNdour"><img src="public/images/github.png" width="170%"></a>
                    </div>
                    <div class="col-md-2">
                        <a target="blank" href="https://www.facebook.com/profile.php?id=100003184372679"><img src="public/images/facebook.png" width="170%"></a>
                    </div>
                     <div class="col-md-2">
                        <a target="blank" href="https://www.linkedin.com/in/andr%C3%A9-mamadou-n-dour-959b2416a/"><img src="public/images/linkedin.png" width="170%"></a>
                    </div>
                     <div class="col-md-2">
                        <a target="blank" href="https://twitter.com/Ibn_Fatou8"><img src="public/images/twitter.png" width="170%"></a>
                    </div>
                    </div>
                </div>
        </section>
        <section class="container" id="definitive">
        </section>
    </div><br><br>
{% include 'templates/footer.twig' %}
 